.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}



.header_bg{
    background: url('../img/fullpage-3.png') 50% 50%;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.header_block{
    font-family: "round";
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.75);
    color: #d9d8da;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main_text{
    color: #d9d8da;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 83px;
    /* text-transform: uppercase; */
    left: 300px;
    /*top: 200px;*/
    font-family: "Rounded";
    -ms-flex-align: end;
    align-items: flex-end;
    position: absolute;
}

.menu{
    position: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    width: 150px;

}
.menu_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    width: 100%;
}

.menu_item{
    flex: 1;
    display: flex;
    align-items: center;
}


.menu_item_content{
    width: 50px;
    height: 80px;
    transition: .2s linear;
    box-shadow: 3px 4px 8px -3px #665f62;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
    background-color: #d9d8da;
    border-radius: 0px 2px 2px 0px;
}


.active_item .menu_item_content{
    width: 80px;
    background: #f03829;
}


.menu_item:hover .menu_item_content{
    width: 80px;
    transition: .2s linear;
    cursor: pointer;
}

.menu_item:hover{
    cursor: pointer;
}





/* menu name */

.menu_item .menu_name{
    opacity: 0;
    transition: .4s linear;
    position: absolute;
    bottom: 10px;
    font-family: "Rounded";
    font-weight: 900;
    font-size: 12px;
}

.menu_item:hover .menu_name {
    opacity: 1;
    transition: .5s linear;
}

.active_item .menu_name{
    opacity: 1;
    transition: .5s linear;
    color: #d9d8da;
}








.circle{
    border-radius: 100px;
    border: 2px solid #f03829;
}

.line{
    /*height: 300px;*/
    width: auto;
    height: auto;
    background: transparent;
    position: absolute;
    left: 300px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    /*bottom: 550px;*/
    font-family: "Rounded";
    color: #f03829;
}

.line2{
    left: 350px;
}

.red_line{
    width: 1px;
    background: #f03829;
    height: 100%;
}

span.red_text{
    color: #f03829;
    margin-right: 10px;
    font-family: "Rounded";
}

.main_text span{
    font-family: "Rounded";
}

.text_line{
    margin-top: -8px;
    /*line-height: 80px;*/
}

.an, .first{
    opacity: 0;
    transition: .2s linear;
    /*line-height: 80px;*/
}

.menu_icon img{
    width: 100%;
}

.menu_icon{
    width: 20px;
}


.promo_block{
    color: #d9d8da;
    font-family: 'Rounded';
    font-size: 22px;
    text-align: center;
    width: 450px;
    /*margin-bottom: 70px;*/
    position: relative;
    height: 140px;
}

.promo_block p{
    margin-bottom: 0px;
}

.down_btn{
    font-family: 'Rounded';
    font-weight: 900;
    text-transform: uppercase;
    background: transparent;
    color: #f03829;
    position: absolute;
    border: none;
    padding: 0px;
    margin: 0px;
    width: 30px;
    height: 60px;
    bottom: 20px;
}

.down_btn_wrapper{
    background: url('../img/down_arrow.png') ;
    width: 30px;
    height: 25px;
    position: absolute;
    background-size: cover;
    animation: animate1 1.3s infinite linear;
}

.down_btn_wrapper:first-child{
    bottom: 18px;
}

.headerBg{
    background: url('../img/header_bg.jpg') 50% 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
}


.gray_btn, .red_btn{
    /*font-family: 'Rounded' !important;*/
    position: absolute;
    width: 200px;
    /*height: 35px;*/
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
}

.gray_btn, .red_btn:hover{
    cursor: pointer;
}

.gray_btn{
    top: 400px;
    right: 550px;
    background: #d9d8da;
}

.red_btn{
    top: 470px;
    right: 420px;
    background: #f03829;
    color: #d9d8da;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.red_btn img{
    margin-left: 25px;
    margin-right: 5px;
    width: 20px;
    animation: animate2 2.2s infinite linear;
}

.btn_line1{
    position: absolute;
    /*top: 0px;*/
    right: 645px;
    height: 400px;
    width: 1px;
    background: #d9d8da;
}

.btn_line2{
    position: absolute;
    /*top: 0px;*/
    right: 520px;
    height: 470px;
    width: 1px;
    background: #f03829;
}

.promo_block p, .down_btn{
    opacity: 0;
}

.main_logo{
    position: absolute;
    top: 15px;
    right: 30px;
    width: 180px;
}

.main_logo img{
    width: 100%;
}


/* PORTFOLIO BLOCK STYLES */


/*.item5{*/
    /*grid-area: item5;*/
/*}*/

/*.item6{*/
    /*grid-area: item6;*/
/*}*/

/*.item7{*/
    /*grid-area: item7;*/
/*}*/

/*.item8{*/
    /*grid-area: item8;*/
/*}*/

/*.item9{*/
    /*grid-area: item9;*/
/*}*/

/*.item10{*/
    /*grid-area: item10;*/
/*}*/

/*.item11{*/
    /*grid-area: item11;*/
/*}*/

/*.item12{*/
    /*grid-area: item12;*/
/*}*/

/*.item13{*/
    /*grid-area: item13;*/
/*}*/


.item1 { grid-area: item1; }
.item2 { grid-area: item2; }
.item3 { grid-area: item3; }
.item4 { grid-area: item4; }
.item5 { grid-area: item5; }
.item6 { grid-area: item6; }
.item7 { grid-area: item7; }
.item8 { grid-area: item8; }
.item9 { grid-area: item9; }
.item10 { grid-area: item10; }
.item11 { grid-area: item11; }
.item12 { grid-area: item12; }
.item13 { grid-area: item13; }


.grid-container {
    display: grid;
    grid-template-areas:
            'item1 item1 item2 item2 item3 item3'
            'item4 item4 item2 item2 item3 item3'
            'item4 item4 item5 item5 item3 item3'
            'item6 item6 item7 item7 item7 item7'
            'item8 item8 item8 item8 item9 item9'
            'item8 item8 item8 item8 item11 item11'
            'item10 item10 item10 item10 item11 item11'
            'item12 item12 item12 item13 item13 item13'
;
    grid-gap: 30px;
    background-color: #fff;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    grid-auto-rows: minmax(200px, auto);
}
.grid-container .item_wrapper > div {
    background-color: rgba(155, 155, 155, 0.2);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    /*border: 1px solid red;*/
}


.gallery_item_shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    top: 0px;
    left: 0px;
}

.item .img_part{
    background: url('../img/proj1img2.png') 50% 0% no-repeat;
    background-size: cover;
    position: relative;
    flex: 1;
}

.item1 .img_part{
    background-image: url('../img/fullpage-3.png');
}

.item2 .img_part{
    background-image: url('../img/proj1img2.png');
}

.item3 .img_part{
    background-image: url('../img/fullpage-1.png');
}

.item4 .img_part{
    background-image: url('../img/fullpage-6.png');
}

.item6 .img_part{
    background-image: url('../img/city-full-page-500.png');
}

.item7 .img_part{
    background-image: url('../img/fullpage-5.png');
}

.item8 .img_part{
    background-image: url('../img/fullpage-5-2.png');
}

.item9 .img_part{
    background-image: url('../img/fullpage-485x485.png');
}

.item10 .img_part{
    background-image: url('../img/full-page-500-3.png');
}

.item12 .img_part{
    background-image: url('../img/fullpage.png');
}

.item13 .img_part{
    background-image: url('../img/fullpage-9.png');
}


.item{
    display: flex;
    flex-direction: column;
}

.item:hover{
    cursor: pointer;
}
.info_part{
    height: 55px;
    /*border: 1px solid #c5c5c5;*/
    border-top: none;
}

.info_part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    color: #696969;
}

.item_tags{
    width: 45%;
    color: #c5c5c5;
    font-size: 13px;
}

.item_tags span{
    transition: .2s linear;
}

.item_tags span:hover{
    color: #f03829;
    transition: .2s linear;
    cursor: pointer;
}

.item_info_wrapper{
    display: flex;
    flex-direction: column;
}
.item_info_wrapper span{
    font-size: 13px;
}
.item_info_wrapper span:first-child{
    color: #f03829;
    font-size: 17px;
}

.items_name{
    text-align: left;
}







